/node_modules
/npm-debug.log
/app/public/external
/lib
/public/scripts/lib
.DS_Store
.project
**/.hg
**/.temp
**/.settings
**/BUILD
.mbed
**/mbed
.cproject
.pioenvs
.piolibdeps
.clang_complete
.gcc-flags.json
.elf
.bin
.pio
